{% extends 'core/base.html' %}

{% block header_text %}Halfpap Family Server{% endblock %}

{% block comment %}
<p>Just a test for the goat...</p>
<p>This project deviates slightly from the book. This homepage doesn't appear there so the root path to the <a href="/lists/">To-Do Lists</a> app is <a href="/lists/">/lists/</a>. Of course you may try to enter your to-do-items here, too, after all, the form is there, so go right ahead... but you'll be writing to /dev/null which has *lots* of space ;-)</p>
{% endblock %}
